body {
  font-family: Arial, sans-serif;
  background-color:darkcyan;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 5px;
}
div{
    background-color:lightslategray;
}